/* styling for download list */
.dl-stream {
    font-style: normal;
    font-weight: normal;
}

.dl-stream li {
    display: inline;
    padding-right: 10px;
}

.dl-stream ul {
    padding-left: 0px;
}
